# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules/

# Next.js
.next/
out/
next-env.d.ts

# Build dirs
build/
dist/

# Env files
.env*

# Vercel
.vercel/

# Typescript
*.tsbuildinfo

# Misc
.DS_Store
.idea
*.pem

# lingui js
**/src/locales/*.js

# SWC plugins
*.swc

# Required for Buildkite cache only
.pnpm-store/

# Playwright files
blob-report/
playwright-report/
playwright/.cache/
test-results/

# Translation files
# Currently ignoring as they are built with the deployment, and we don't currently have a translation workflow
apps/**/*.po
