# Needed for Dependabot
# https://github.com/dependabot/dependabot-core/issues/8242#issuecomment-1822046521
registry=https://registry.npmjs.org

# Sets the registry for all private packages.
@safetyculture:registry=https://npm.pkg.github.com

